/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App Styles */
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #faf9f6;
  height: 100%;
}

.customer-button {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.customer-button > button {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1em;
  background-color: red;
  color: whitesmoke;
  border-radius: 5px;
}

/* Table Styles */
table {
  margin: 30px auto;
  border-collapse: collapse;
  font-size: 1em;
  width: 90%;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

thead tr {
  background-color: #443c68;
  color: white;
  font-weight: bold;
}

thead th {
  padding: 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody td {
  padding: 1em;
}

table tbody tr {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


/* Media Queries */
@media (max-width: 600px) {
  table {
    width: 100%;
    border: 1px solid red;
  }

  table > tbody > tr {
    margin-bottom: 15px;
  }

  th {
    display: none;
  }

  td {
    display: grid;
    gap: 1rem;
    grid-template-columns: 15ch auto;
    padding: 0.5rem 1rem;
  }

  td:first-child {
    padding-top: 2rem;
  }

  td:last-child {
    padding-bottom: 2rem;
  }

  td::before {
    font-weight: 700;
    text-transform: capitalize;
  }

  td:nth-of-type(1)::before {
    content: "UserID :";
  }

  td:nth-of-type(2)::before {
    content: "Name :";
  }

  td:nth-of-type(3)::before {
    content: "Email :";
  }
  td:nth-of-type(4)::before {
    content: "Phone :";
  }

  tr:nth-of-type(even) {
    background-color: #fefefe;
  }
}